body{
	margin:0;
	padding:0;  /*Resetting Browser Defaults*/
	font-family:'Lato', sans-serif;
}

/* top navigation bar */
.topnav {
    background-color: #435934;
  	padding:10px;
	font-family:'Lato', sans-serif;
	position:sticky;  /* make it stick to the top*/
	top: 0;
    z-index: 999; /*appears on top of other elements*/
}

.topnav img {
    width: 6%;
    position: absolute;
	top: 10px;
	left: 20px;
	z-index: 999; /*appears on top of other elements*/
}

.topnav h2 {
    color: white;
    font-size: 24px;
	margin-left: 100px;
	position: absolute;
	z-index: 999; /*appears on top of other elements*/
    font-family: 'BebasNeueRegular', sans-serif;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:flex-end;
}

.topnav li {
	margin-right:24px;
}

.topnav li:last-child {
    margin-right: 0;
}

.topnav a {
   display: inline-block;
   width: 120px;
   height: 55px;
   color: White;
   text-align: center;   
   line-height: 55px;    
   text-decoration: none;
}

.topnav a:hover {
    color: #8DB7CC;
}

/* Dropdown */
.dropDown {
	position:absolute;
	display:none;
	width:120px;
	text-align:left;
}

li:hover .dropDown {
    display: block;
	background-color: #435934;
}

.dropDown a {
   display: inline-block;
   width: 120px;
   height: 55px;
   color: White;
   text-align: center;   
   line-height: 32px;    
   text-decoration: none;
}

/* side navigation bar */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
	font-family:'Lato', sans-serif;
	background-color:#29472D;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    color: White;
    display: block;
}

.sidenav a:hover {
    background-color:#C7D5BD;
	color: #3A4D2D;
}

/* main content */
.main {
    margin-left: 260px; /* Width of the sidebar + some spacing */
    padding: 20px;
}
.viewTable{
	cursor:pointer;
	border-collapse: collapse; /*ensure that no space between the cell borders*/
	border: 1px;
    margin: 25px 0;
    font-family: 'Lato', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.viewTable th {
    background-color:#C7D5BD;
    color: #252525;
    text-align: left;
}

.viewTable th,
.viewTable td {
    padding: 12px 15px;
}

.viewTable tr {
    border-bottom: 1px solid #dddddd;
}

.viewTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.viewTable tr:last-of-type {
    border-bottom: 2px solid #C7D5BD;
}

.viewTable tr:hover {
    font-weight: bold;
    color: #252525;
}

/*form*/

.addForm{
	padding: 5px 40px;
	margin:0 50px 50px 0;
	border-radius: 25px;
	background-color: #C7D5BD;
}

label{
	display: block;
	margin-top: 10px;
	color:#252525;
}

input[type=text], input[type=time] {
	width: 96%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	}

textarea{
	width: 96%;
    height: 120px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	resize: none;
}
	
input[type=submit] {
	background-color: #9BCB78;
	color: #3A4D2D;
	padding: 14px 25px;
	margin: 12px 8px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	}
	
input[type=submit]:hover {
    background-color:#C7D5BD;
	color: #3A4D2D;
	}

.editForm{
	padding: 5px 40px;
	margin:0 50px 50px 0;
	border-radius: 25px;
	background-color: #C7D5BD;
}

a{
	text-decoration: none;
}

.viewTable a:hover {
  border-bottom: 1px solid;
}