body{
	margin:0;
	padding:0;
	background-image:url("Img/contactBG.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    font-family: 'Lato', sans-serif;
}

/*menu css*/
.menu{ 
	background-color: #3A4D2D;
	padding:10px;
	font-family:'Lato', sans-serif;
	position:sticky;  /* make it stick to the top*/
	top: 0;
    z-index: 999; /*appears on top of other elements*/

}

.menu img{
	width:6%;
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 999; /*appears on top of other elements*/
}

#logoTitle{
	color: white;
	font-size: 16px;
	margin-left: 100px;
	position: absolute;
	z-index: 999; /*appears on top of other elements*/
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	justify-content:flex-end;

}

li{
	margin-right:24px;
}

.dropDown{
	position:absolute;
	display:none;
	width:150px;
	text-align:left;
	
}

li:hover .dropDown{
	display:block;
	background-color:#3A4D2D;
}

.menu a{
   display: inline-block;
   width: 100px;
   height: 55px;
   color: White;
   text-align: center;   
   line-height: 55px;    
   text-decoration: none;
}

.menu a:hover{
	color: #8DB7CC;
}

#title{
	color: #252525;
	margin: 0;
	text-align: center;
	font-size:32px;
	font-family: 'BebasNeueRegular', sans-serif;
	
}

#subtitle{
	color: #252525;
	margin: 0;
	text-align: center;
	word-spacing:2.0px;
	line-height:2.5;
}

/*contactForm*/
form {
	padding: 50px;
	border-radius: 8px;
	text-align:center;
	
	}

input[type=text],select{
	width: 80%;
	padding: 16px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	
	}
	
#name{
	width: 40%;
	padding: 16px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

input[type=submit]{
	background-color: #9BCB78;
	color: #3A4D2D;
	padding: 18px 26px;
	margin: 8px;
	text-align:center;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	}
	
input[type=submit]:hover {
	background-color: white;
	color: #8DB7CC;
	}
