body{
	background-color:#C7D5BD;
	font-family: 'Lato',sans-serif;
}

.resetPwForm{
	background-color:rgba(255,255,255,0.6);
	border-radius:10px;
	width:40%;
	margin:auto;
	margin-top:50px;
	padding:50px;
	position: relative;
}

#title{
    color: #252525;
	text-align: center;
}

#subtitle{
	color: #252525;
	text-align:center;
	line-height:2.5;
}

form {
	margin: auto;
	width: 80%;
    padding: 50px;
}
input[type="password"]{
	width: 96%;
	padding: 8px;
	margin-top:8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

#sendBtn{
	background-color: #9BCB78;
	color: #3A4D2D;
	padding: 14px 36px;
	margin: auto;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

a{
	text-decoration: none;
	font-size: 13px;
    position: absolute;
    right:0;
    margin-right:130px;
	margin-top: 16px;
}

a:hover{
	text-decoration:underline;
}

/*display error*/
.error{
	padding:0;
	margin:0 0 10px 0;
	color:red;
	
}