body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("Img/greenWallpaper.jpg");
  }

  /*menu css*/
  .menu{ 
	background-color:#3A4D2D;
	padding:10px;
	font-family:'Lato', sans-serif;
	position:sticky;  /* make it stick to the top*/
	top: 0;
    z-index: 999; /*appears on top of other elements*/
  }

  .menu img{
	width:6%;
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 999; /*appears on top of other elements*/
  }

  #logoTitle{
	color: white;
	font-size: 16px;
	margin-left: 100px;
	position: absolute;
	z-index: 999; /*appears on top of other elements*/
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:flex-end;
  }

  li{
	margin-right:24px;

  }

  .dropDown{
	position:absolute;
	display:none;
	width:150px;
	text-align:left;
	
  }

  li:hover .dropDown{
	display:block;
	background-color:#3A4D2D;
  }

  .menu a{
   display: inline-block;
   width: 100px;
   height: 55px;
   color: White;
   text-align: center;   
   line-height: 55px;    
   text-decoration: none;
  }

  .menu a:hover{
	color: #8DB7CC;
  }

 /*request form*/ 
.container {
	background-color:rgba(255,255,255,0.6);
	backdrop-filter:blur(15px);
	border-radius:10px;
	width:50%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	padding:50px 50px 0;
  }
  
  .container form {
    border-radius:8px;
  }

  .title {
    text-align:center;
	color:#252525;
	margin:0 0 50px 0;
  }
  
  h3{
	  margin-top:50px;
  }
  
  .container form .row .col .inputBox {
    margin: 25px 0;
  }
  
  .container label {
    margin-bottom: 10px;
    display: block;
  }
  
  input[type=text], input[type=date],  
  input[type=time], input[type=number]{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
    border-radius: 40px;
    box-sizing:border-box;
  }
  
  select{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
    border-radius: 40px;
    box-sizing:border-box;
  }
  
  .container form .row .col .flex {
    display: flex;
    gap: 80px;
  }
  
  .flexDonate{
	display: flex;
    gap: 18px;
	margin-bottom:20px;
  }
  
  .flexInputBox{
	 flex:1;
	 margin-top: 5px;
  }
  
  .container form .row .col .flex .inputBox {
    margin-top: 5px;
  }
  
  #add-food-item-btn {
	background-color: #9BCB78;
	color: #3A4D2D;
	padding: 10px 25px;
	margin: 8px 8px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	}
	
  #add-food-item-btn:hover {
	opacity:0.7;
	}
	
	#remove-food-item-btn {
	background-color:#CC6E77;
	color: #4D292D;
	padding: 10px 25px;
	margin: 8px 8px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	}
	
  #remove-food-item-btn:hover {
	opacity:0.7;
	}
  
  
  .container form .submit-btn {
    width: 100%;
    padding: 16px 20px;
    font-size: 16px;
    background-color: #9BCB78;
    color: #3A4D2D;
    margin: 50px 5px;
    cursor: pointer;
    border:none;
    border-radius: 40px;
  }
  
  .container form .submit-btn:hover {
    background: #8DB7CC;
    color: white;
  }
  
  .delivery {
    margin-top: 5px;
  }
  
/*display error*/
.error{
	padding:0;
	margin:8px 0 0 0;
	color:red;
	
}  